Splunk_to_Iceberg_Flow.json
{"flowContents":{"identifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","instanceIdentifier":"f8b1eb81-0195-1000-ffff-ffffcd3844d3","name":"SplunkRESTAPIFlow","comments":"","position":{"x":-1592.0,"y":-384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4201f1d4-ef5c-3d2b-9931-248d4d811545","instanceIdentifier":"fd7602e0-0195-1000-0000-00001c544b07","name":"GenerateFlowFile","comments":"","position":{"x":936.0,"y":88.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"search=search index=main sourcetype=dummy_logs earliest=-1h latest=now&exec_mode=oneshot&output_mode=json","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"f96ad4a4-9459-322b-aa98-060740d9945a","instanceIdentifier":"799c6eed-0196-1000-0000-00005363f816","name":"ConvertRecord","comments":"","position":{"x":2024.0,"y":688.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"1ecb25f6-9554-3909-81c2-77342d4d6af4","Record Reader":"2bd9cf32-cc54-3c1c-8f3b-015362bfe37c"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"61b4d0dc-7ee1-31dc-ab1e-2688ba608996","instanceIdentifier":"798152d6-0196-1000-0000-000077adb910","name":"GetSplunk","comments":"Option 2","position":{"x":928.0,"y":496.0},"type":"org.apache.nifi.processors.splunk.GetSplunk","bundle":{"group":"org.apache.nifi","artifact":"nifi-splunk-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Time Zone":"UTC","Owner":null,"Scheme":"https","Query":"search index=main sourcetype=dummy_logs","Port":"8089","Hostname":"ip-172-31-13-238.us-west-2.compute.internal","Read Timeout":"15 secs","Token":null,"Time Field Strategy":"Event Time","Time Range Strategy":"Provided","Security Protocol":"TLSv1_2","Connection Timeout":"5 secs","SSL Context Service":"04610786-8404-3cd3-9693-43be2127a013","Username":"admin","Latest Time":"now","Application":null,"Output Mode":"JSON","Earliest Time":"-1h"},"propertyDescriptors":{"Time Zone":{"name":"Time Zone","displayName":"Time Zone","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Scheme":{"name":"Scheme","displayName":"Scheme","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Token":{"name":"Token","displayName":"Token","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Field Strategy":{"name":"Time Field Strategy","displayName":"Time Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Range Strategy":{"name":"Time Range Strategy","displayName":"Time Range Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Security Protocol":{"name":"Security Protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Latest Time":{"name":"Latest Time","displayName":"Latest Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Application":{"name":"Application","displayName":"Application","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Mode":{"name":"Output Mode","displayName":"Output Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Earliest Time":{"name":"Earliest Time","displayName":"Earliest Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"faf4da94-2770-3a44-a50b-343090a0c37c","instanceIdentifier":"0b503e8e-c39d-124b-0000-0000640a4eef","name":"SplitText","comments":"","position":{"x":1552.0,"y":408.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"cea5b87f-44b8-3ffa-866b-6aad7c0b0fa5","instanceIdentifier":"825a06b9-0196-1000-0000-0000587c4cac","name":"PutIceberg","comments":"","position":{"x":1504.0,"y":960.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","unmatched-column-behavior":"FAIL_UNMATCHED_COLUMN","file-format":null,"catalog-service":"32ad849e-bf06-3c5e-a4b5-c05145d036e3","record-reader":"8858dc1a-9c4e-39fb-9930-f4bcac781cbb","table-name":"dummy_logs","kerberos-user-service":null,"minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"unmatched-column-behavior":{"name":"unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"bc1ac9f2-1ef6-31a6-9659-375c0fcab89e","instanceIdentifier":"fd79d97b-0195-1000-ffff-ffffad196fb6","name":"InvokeHTTP","comments":"","position":{"x":936.0,"y":288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"True","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://ip-172-31-13-238.us-west-2.compute.internal:8089/services/search/jobs/export","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"04610786-8404-3cd3-9693-43be2127a013","Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"true","HTTP Method":"POST","Request Username":"admin","Request Content-Type":"application/x-www-form-urlencoded","Response Body Attribute Name":"response_body","Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"49f294d5-d6a5-3884-8c18-6d4c26498764","instanceIdentifier":"7fada1e8-0196-1000-0000-000044f77638","name":"EvaluateJsonPath","comments":"","position":{"x":2024.0,"y":408.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Destination":"flowfile-content","data":"$.result","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"warn"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"31e07f43-cd74-3a52-ad03-d2588f452433","instanceIdentifier":"392a3dc3-dd0f-1fff-0000-00006e53e2c9","name":"ConsumeSplunkProcessor","comments":"","position":{"x":864.0,"y":784.0},"type":"ConsumeSplunkProcessor","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Splunk install path":"/opt/splunk","Splunk index name":"main","Max records to output":null,"Date Range End":"2025-04-28:11:59:59","Date Range Start":"2025-04-28:00:00:00","Splunk Username":"admin","Data output format":"json"},"propertyDescriptors":{"Splunk install path":{"name":"Splunk install path","displayName":"Splunk install path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Splunk index name":{"name":"Splunk index name","displayName":"Splunk index name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max records to output":{"name":"Max records to output","displayName":"Max records to output","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Range End":{"name":"Date Range End","displayName":"Date Range End","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Range Start":{"name":"Date Range Start","displayName":"Date Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Splunk Username":{"name":"Splunk Username","displayName":"Splunk Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data output format":{"name":"Data output format","displayName":"Data output format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Splunk User Password":{"name":"Splunk User Password","displayName":"Splunk User Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"b2ea0d0b-a52b-3552-912c-61b648f38bba","instanceIdentifier":"8019c992-0196-1000-0000-00005629d2b8","name":"QueryRecord","comments":"","position":{"x":1408.0,"y":696.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"dbf-default-precision":"10","record-writer":"1ecb25f6-9554-3909-81c2-77342d4d6af4","Select_record":"Select \"_indextime\" as indextime, \"_raw\" as raw, sourcetype as sourcetype, \"_time\" as timecolumn, \"source\" as source from flowfile ","record-reader":"8858dc1a-9c4e-39fb-9930-f4bcac781cbb","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Select_record":{"name":"Select_record","displayName":"Select_record","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1d77fe92-e711-331d-a234-9f51e678beb3","instanceIdentifier":"0b503ea0-c39d-124b-ffff-ffffd23d13af","name":"","source":{"id":"faf4da94-2770-3a44-a50b-343090a0c37c","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"SplitText","comments":"","instanceIdentifier":"0b503e8e-c39d-124b-0000-0000640a4eef"},"destination":{"id":"49f294d5-d6a5-3884-8c18-6d4c26498764","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7fada1e8-0196-1000-0000-000044f77638"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"de0d6dc0-02c1-3df8-b584-2b610f3a92d7","instanceIdentifier":"82b2f254-0196-1000-ffff-ffffe1292132","name":"","source":{"id":"4201f1d4-ef5c-3d2b-9931-248d4d811545","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"GenerateFlowFile","comments":"","instanceIdentifier":"fd7602e0-0195-1000-0000-00001c544b07"},"destination":{"id":"bc1ac9f2-1ef6-31a6-9659-375c0fcab89e","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"InvokeHTTP","comments":"","instanceIdentifier":"fd79d97b-0195-1000-ffff-ffffad196fb6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"def18305-1411-3d81-adde-b46ff57b313a","instanceIdentifier":"0b503e94-c39d-124b-0000-00003a2787bc","name":"","source":{"id":"bc1ac9f2-1ef6-31a6-9659-375c0fcab89e","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"InvokeHTTP","comments":"","instanceIdentifier":"fd79d97b-0195-1000-ffff-ffffad196fb6"},"destination":{"id":"faf4da94-2770-3a44-a50b-343090a0c37c","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"SplitText","comments":"","instanceIdentifier":"0b503e8e-c39d-124b-0000-0000640a4eef"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"0caae77b-c839-3b65-b133-37cf000c0bd8","instanceIdentifier":"80166fdb-0196-1000-ffff-ffff9516650f","name":"","source":{"id":"49f294d5-d6a5-3884-8c18-6d4c26498764","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"7fada1e8-0196-1000-0000-000044f77638"},"destination":{"id":"f96ad4a4-9459-322b-aa98-060740d9945a","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"ConvertRecord","comments":"","instanceIdentifier":"799c6eed-0196-1000-0000-00005363f816"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"242604bf-09cc-31fd-8ba9-f7be3fcafec2","instanceIdentifier":"392a3dda-dd0f-1fff-0000-000072ef125e","name":"","source":{"id":"31e07f43-cd74-3a52-ad03-d2588f452433","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"ConsumeSplunkProcessor","comments":"","instanceIdentifier":"392a3dc3-dd0f-1fff-0000-00006e53e2c9"},"destination":{"id":"faf4da94-2770-3a44-a50b-343090a0c37c","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"SplitText","comments":"","instanceIdentifier":"0b503e8e-c39d-124b-0000-0000640a4eef"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"dfa632b9-8870-3fa1-88dc-5829f322e88c","instanceIdentifier":"814f0153-0196-1000-ffff-fffff0784d8c","name":"","source":{"id":"f96ad4a4-9459-322b-aa98-060740d9945a","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"ConvertRecord","comments":"","instanceIdentifier":"799c6eed-0196-1000-0000-00005363f816"},"destination":{"id":"b2ea0d0b-a52b-3552-912c-61b648f38bba","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"QueryRecord","comments":"","instanceIdentifier":"8019c992-0196-1000-0000-00005629d2b8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"5ee31fbc-3295-3ee9-bc14-1178c615c503","instanceIdentifier":"82617478-0196-1000-ffff-ffff9a984793","name":"","source":{"id":"b2ea0d0b-a52b-3552-912c-61b648f38bba","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"QueryRecord","comments":"","instanceIdentifier":"8019c992-0196-1000-0000-00005629d2b8"},"destination":{"id":"cea5b87f-44b8-3ffa-866b-6aad7c0b0fa5","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"PutIceberg","comments":"","instanceIdentifier":"825a06b9-0196-1000-0000-0000587c4cac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Select_record"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"d5ea9c55-02a7-36ab-b414-66d005fd86ad","instanceIdentifier":"0b503e99-c39d-124b-ffff-ffffc2f9cb85","name":"","source":{"id":"61b4d0dc-7ee1-31dc-ab1e-2688ba608996","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"GetSplunk","comments":"Option 2","instanceIdentifier":"798152d6-0196-1000-0000-000077adb910"},"destination":{"id":"faf4da94-2770-3a44-a50b-343090a0c37c","type":"PROCESSOR","groupId":"197d04f1-f50d-3844-acf3-dcbd8ffe6558","name":"SplitText","comments":"","instanceIdentifier":"0b503e8e-c39d-124b-0000-0000640a4eef"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"}],"labels":[{"identifier":"7b38a250-22b0-364d-894b-f0dacb13da47","instanceIdentifier":"0b503d48-c39d-124b-0000-000029a5c308","position":{"x":1552.0,"y":48.0},"label":"Manual Curl Command\n\n[root@ip-172-31-13-238 ec2-user]# curl -k -u admin:$P@ssword https://ip-172-31-13-238.us-west-2.compute.internal:8089/services/auth/login -d username=admin -d password='$P@ssword'\n<response>\n  <sessionKey>eiKd96cvGWHHdthNC7Ua6QGpsaV9ABkhd_gm080t5r2jVQ__J6evysFDpTqfgqqhpCiQGrA1IH27I3oOivaFnRzQiWZaBkYqG8tzuA8WNKV0Vfdy4mDjaG3B^31P</sessionKey>\n  <messages>\n    <msg code=\"\"></msg>\n  </messages>\n</response>\n[root@ip-172-31-13-238 ec2-user]# curl -k -H \"Authorization: Splunk CITjAWCsy^ZM34sT^8Jb^93LELrRK85apE5qEmTV8y5I_ur7ZWb^ZJwnPLFSPOylKVEJwGfU3AZQu6RYgOugO4UqbrJ4YmAzYzPH6Zn5yHK6VLiY51wg7KgTtnS\"     \"https://localhost:8089/services/search/jobs/export\"     -d search=\"search index=main sourcetype=dummy_logs earliest=-1h latest=now\"     -d exec_mode=oneshot   -d output_mode=json  -H \"Content-Type: application/x-www-form\"","zIndex":0,"width":416.0,"height":280.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"1fa54614-c206-3101-a0f2-a164c6035775","instanceIdentifier":"392a382e-dd0f-1fff-b1e7-d6cca7927fe3","position":{"x":752.0,"y":160.0},"label":"Option 1","zIndex":0,"width":150.0,"height":150.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"740ff440-0fef-3bd4-8800-3f7bdd9d330c","instanceIdentifier":"0b503d3f-c39d-124b-ffff-ffffe4ebfb13","position":{"x":768.0,"y":480.0},"label":"Option 2","zIndex":0,"width":150.0,"height":150.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"}],"funnels":[],"controllerServices":[{"identifier":"95b2ffba-9455-365c-989d-f67a313ebc2b","instanceIdentifier":"7f93fd39-0196-1000-ffff-ffffa7461d43","name":"ClouderaHiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.ClouderaHiveConnectionPool","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-hive-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":"/etc/hive/hive-site.xml","dbcp-max-conn-lifetime":"-1","Validation-query":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://ip-172-31-3-23.us-west-2.compute.internal:10000/default","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"admin"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}},{"type":"org.apache.nifi.dbcp.hive.ClouderaHiveDBCPService","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-hive-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"8858dc1a-9c4e-39fb-9930-f4bcac781cbb","instanceIdentifier":"801c7e5c-0196-1000-0000-000033e6b265","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"4fa81598-ce38-3ac8-b648-8132559937bd","instanceIdentifier":"825a7990-0196-1000-0000-000006753110","name":"JdbcCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.JdbcCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"hadoop-config-resources":null,"Connection Pool":null,"Catalog Name":"jdbc-catalog","warehouse-path":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Connection Pool":{"name":"Connection Pool","displayName":"Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"warehouse-path":{"name":"warehouse-path","displayName":"Warehouse Path","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"32ad849e-bf06-3c5e-a4b5-c05145d036e3","instanceIdentifier":"825add30-0196-1000-ffff-ffff92b67321","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"hadoop-config-resources":"/etc/hive/core-site.xml,/etc/hive/hdfs-site.xml","warehouse-location":"/warehouse","hive-metastore-uri":"thrift://ip-172-31-3-23.us-west-2.compute.internal:9083"},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"adc3e2ba-fbc8-3cd4-8476-a004d4e6d6a5","instanceIdentifier":"823da890-0196-1000-ffff-ffff9b2eeb73","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.cloudera.impala.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:impala://ip-172-31-3-23.us-west-2.compute.internal:21050","dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"2bd9cf32-cc54-3c1c-8f3b-015362bfe37c","instanceIdentifier":"799d7184-0196-1000-0000-000068e08f1a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"04610786-8404-3cd3-9693-43be2127a013","instanceIdentifier":"6e23d6ae-0196-1000-0000-00006430cd0a","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/etc/nifi/certs/splunk-truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"},{"identifier":"1ecb25f6-9554-3909-81c2-77342d4d6af4","instanceIdentifier":"799d981e-0196-1000-ffff-ffff81e935a9","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0.4.0.0.0-383"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0.4.0.0.0-383"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"197d04f1-f50d-3844-acf3-dcbd8ffe6558"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}